/* ========================
   Global Variables
======================== */
:root {
    --bg1: #0f1116;
    --bghl1: #424242;
    --bg2: #202020;
    --text-color: orange;
    --link-color: #ffffff;
    --border-color: white;
}

/* ========================
   Base Styles
======================== */
body {
    background-color: var(--bg1);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}


/* ========================
   Header Styles
======================== */
#header {
    max-width: 1200px;
}

#header_logo {
    max-width: 40px;
    margin: 0px 5px;
}

#theme_icon {
    max-width: 30px;
    margin: 0px 5px;
}


/* ========================
   Main Menu Styles
======================== */
#main_menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

#left_menu,
#right_menu {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Space between items */
}

#left_menu {
    flex: 1;
    /* Takes available space */
    justify-content: flex-start;
}

#right_menu {
    flex: 1;
    /* Takes available space */
    justify-content: flex-end;
}

#main_menu a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0px 0px;
    padding: 2px 15px;
    border-radius: 10px;
}

#main_menu a:hover {
    background-color: var(--bghl1);
    cursor: pointer;
}

/* ========================
   Links Section Styles
======================== */
#links {
    width: fit-content;
    margin: 0px 0px;
    padding: 10px 10px;
    text-align: left;
    font-size: large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: var(--link-color);
    text-decoration: none;
    margin: 3px 0px;
    border: var(--border-color) 1px solid;
    border-radius: 3px;
    padding: 1px 5px;
}

#links a:hover {
    background-color: #424242;
    cursor: pointer;
}

/* ========================
   Footer Styles
======================== */
#footer {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg2);
    color: var(--link-color);
    text-align: left;
}

#footer_content {
    margin: 5px 0;
}
