# ./.env.example
# Copy this file to .env and fill in your own API keys

# DATABASE
DATABASE_URL=sqlite://data/database/db.sqlite

# External connections - Get your own API keys from the respective providers
ALPHA_VANTAGE_API_KEY = "your_alpha_vantage_api_key"
TWELVE_DATA_API_KEY = "your_twelve_data_api_key"
FINNHUB_API_KEY = "your_finnhub_api_key"

# API deployment
PORT=3000
ENVIRONMENT=development
